{% extends 'admin.html.twig' %}

{% block body %}
    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> New Registration</h2>
    </div>
    {{ form_start(form) }}
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                             <span><i class="fa fa-check-square-o"></i>
                                 {% for msg in app.session.flashBag.get('success') %}
                                     {{ msg }}
                                 {% endfor %}</span>
                    </div>
                {% endif %}
                <div class="panel-body">
                    <strong>Add or Edit Content</strong><br><br>
                    <table class="table table-striped">
                        <tr>
                            <td>
                                <label>Name</label>
                                {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}</td>
                            <td>
                                <label>Last Name</label>
                                {{ form_widget(form.lastname, { 'attr': {'class': 'form-control'} }) }}
                            </td>
                            <td width="17%">
                                <label>Gender</label>
                                {{ form_widget(form.gender, { 'attr': {'class': 'form-control'} }) }}
                            </td>
                        </tr>
                    </table>
                    <table class="table table-striped">
                        <tr>
                            <td>
                                <label>Phone Number</label>
                                {{ form_widget(form.phone, { 'attr': {'class': 'form-control'} }) }}
                                <span style="color: #ff0000"> {{ form_errors(form.phone) }}</span>
                            </td>
                        </tr>
                    </table>
                    <table class="table table-striped">
                        <tr>
                            <td>
                                <label>Church Address</label>
                                {{ form_widget(form.church, { 'attr': {'class': 'form-control'} }) }}
                            </td>
                            <td>
                                <label>Zone</label>
                                {{ form_widget(form.district, { 'attr': {'class': 'form-control'} }) }}
                            </td>
                        </tr>
                    </table>
                    <input type="submit" value="Register" class="btn btn-sm btn-success"/>
                    {#<a href="{{ path('delegates_index') }}" class="btn btn-md btn-default"><i class="fa fa-reply fa-fw"></i> Back to the list</a>#}
                </div>
            </div>
        </div>

    </div>

</div>
    {{ form_end(form) }}
{% endblock %}