<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Dashboard | Annual Convention{% endblock %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('dashboard/css/theme-default.css') }}">


    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<!-- START PAGE CONTAINER -->
<div class="page-container">

    <!-- START PAGE SIDEBAR -->
    <div class="page-sidebar">
        <!-- START X-NAVIGATION -->
        <ul class="x-navigation">
            <li class="xn-logo">
                <a href="javascript:void(0);">Admin Panel</a>
                <a href="#" class="x-navigation-control"></a>
            </li>
            <li class="xn-profile">
                <a href="#" class="profile-mini">
                    <img src="{{ asset('dashboard/img/login-logo.png') }}" alt="EPCS"/>
                </a>
                <div class="profile">
                    <div class="profile-image">
                        <img src="{{ asset('images/11.png') }}" alt="EPCS"/>
                    </div>
                    <div class="profile-data">
                        {#<div class="profile-data-title">24th Annual Convention 2017</div>#}
                    </div>
                </div>
            </li>

            <li>
            {% if is_granted('ROLE_DELEGATES') %}
                <a href="{{ path('desmee_admin_homepage') }}"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>
                <a href="{{ path('delegates_index') }}"><span class="fa fa-list fa-fw"></span> <span class="xn-text">Registration list</span></a>
                <a href="{{ path('delegates_new') }}"><span class="fa fa-pencil fa-fw"></span> <span class="xn-text">Create a new entry</span></a>
                <a href="{{ path('search') }}"><span class="fa fa-search fa-fw"></span> <span class="xn-text">Search</span></a>
            {% endif %}
                {% if is_granted('ROLE_SUPERADMIN') %}
                    <a href="{{ path('desmee_admin_homepage') }}"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>
                    <a href="{{ path('delegates_index') }}"><span class="fa fa-list fa-fw"></span> <span class="xn-text">Registration list</span></a>
                    <a href="{{ path('delegates_new') }}"><span class="fa fa-pencil fa-fw"></span> <span class="xn-text">Create a new entry</span></a>
                    <a href="{{ path('search') }}"><span class="fa fa-search fa-fw"></span> <span class="xn-text">Search</span></a>
                    <a href="{{ path('bulk_sms1') }}"><span class="fa fa-envelope fa-fw"></span> <span class="xn-text">Send Message to All</span></a>
                {% endif %}
            {% if is_granted('ROLE_MEMBERS') %}
                <a href="{{ path('member_index') }}"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>
                <a href="{{ path('member_index') }}"><span class="fa fa-reply fa-fw"></span> <span class="xn-text">Registration list</span></a>
                <a href="{{ path('member_new') }}"><span class="fa fa-pencil fa-fw"></span> <span class="xn-text">Create a new entry</span></a>
                <a href="{{ path('angular') }}"><span class="fa fa-search fa-fw"></span> <span class="xn-text">Search</span></a>
                <a href="{{ path('bulk_sms') }}"><span class="fa fa-envelope fa-fw"></span> <span class="xn-text">Send Message to All</span></a>

            {% endif %}
            </li>
        </ul>
        <!-- END X-NAVIGATION -->
    </div>
    <!-- END PAGE SIDEBAR -->

    <!-- PAGE CONTENT -->
    <div class="page-content">

        <!-- START X-NAVIGATION VERTICAL -->
        <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
            <!-- TOGGLE NAVIGATION -->
            <li class="xn-icon-button">
                <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
            </li>
            <!-- END TOGGLE NAVIGATION -->

            <!-- SIGN OUT -->
            <li class="xn-icon-button pull-right">
                <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
            </li>
            <!-- END SIGN OUT -->

            <!-- MESSAGES -->
            <li class="xn-icon-button pull-right">
                <a href="#"><span class="fa fa-eye"></span></a>
            </li>
            <!-- END MESSAGES -->

        </ul>
        <!-- END X-NAVIGATION VERTICAL -->

        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li>Welcome to Administrative Dashboard</li>
        </ul>
        <!-- END BREADCRUMB -->

        {% block body %}{% endblock %}
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->


    <!-- MESSAGE BOX-->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                <div class="mb-content">
                    <p>Are you sure you want to log out?</p>
                    <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-success btn-lg">Yes</a>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MESSAGE BOX-->

    <!-- START PRELOADS -->
    <audio id="audio-alert" src="{{ asset('dashboard/audio/alert.mp3') }}" preload="auto"></audio>
    <audio id="audio-fail" src="{{ asset('dashboard/audio/fail.mp3') }}" preload="auto"></audio>
    <!-- END PRELOADS -->

    {% block javascripts %}
            <script src="{{ asset('dashboard/js/plugins/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('dashboard/js/plugins/jquery/jquery-ui.min.js') }}"></script>
            <script src="{{ asset('dashboard/js/plugins/bootstrap/bootstrap.min.js') }}"></script>


            <script src="{{ asset('dashboard/js/plugins/blueimp/jquery.blueimp-gallery.min.js') }}"></script>
            <script src="{{ asset('dashboard/js/plugins/dropzone/dropzone.min.js') }}"></script>
            <script src="{{ asset('dashboard/js/plugins/icheck/icheck.min.js') }}"></script>

            {#WYSIYUG#}
            <script src="{{ asset('dashboard/js/plugins/summernote/summernote.js') }}"></script>


            <script src="{{ asset('dashboard/js/plugins.js') }}"></script>
            <script src="{{ asset('dashboard/js/actions.js') }}"></script>
            {#<script src="{{ asset('js/jquery.min.js') }}"></script>#}
            {#<script src="{{ asset('js/bootstrap.min.js') }}"></script>#}
            {#<script src="{{ asset('js/metisMenu.min.js') }}"></script>#}
            {#<script src="{{ asset('js/sb-admin-2.js') }}"></script>#}
        {% endblock %}
    </body>
</html>
